footer.footer
      .container-fluid
        nav.float-left
          ul
            li
              a(href='#')
                | Marc Anthony
        .copyright.float-right
          | &copy;
          script.
            document.write(new Date().getFullYear())
          | , made with 
          i.material-icons favorite
          |  by 
          a(href='#' target='_blank') Marc Anthony
          |  for a better web.
        // your footer here